<div class="list-header" style="background-image: url('<%= @list.image_url || 'default-bg.jpg' %>');">
  <h1><%= @list.name %></h1>
</div>

<style>
.list-header {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
</style>
